:root {
  --white: #fff;
  --light-grey-dark: #e1e1e1;
  --light-grey: #F7F7F7;
  --base-aqua: #4DD9AF;
  --aqua-light: #e8fee8;
  --aqua-dark: #aed6bb;
  --base-dark: #262626;
  --text-dark: #535353;
  --highlight-orange: #f48225;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--light-grey);
}

/* NAVIGATION BAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: var(--light-grey-dark);
  border-bottom: 3px solid var(--base-aqua);
}

.logo-wrapper {
  padding: 8px;
}

.logo {
  max-height: 62px;
  height: 100%;
}


.burger-menu {
  max-width: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

.burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.burger>* {
  height: 4px;
  width: 30px;
  border-radius: 50px;
  background-color: var(--base-dark);
  transition: transform .2s, max-height .5s;
}

.middle.visible {
  transform: scaleX(0);
}
.top.visible {
  transform: translateY(9px) rotate(-45deg);
}
.bottom.visible {
  transform: translateY(-9px) rotate(45deg);
}

.burger-content {
  position: absolute;
  top: 80px;
  right: 0;
  width: 100vw;
  max-height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  background-color: var(--base-aqua);
  transition: max-height .5s;
  pointer-events: none;
  z-index: 999;
}

.burger-content.visible {
  max-height: 400px;
  transition: max-height .5s;
  pointer-events: all;
}

.burger-buttons,
.burger-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.burger-buttons {
  padding: 30px 0 0 30px;
}
.burger-buttons button {
  padding: 8px 24px;
  background-color: var(--aqua-light);
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.2rem;
}

.burger-links {
  padding: 30px;
}
.burger-links>* {
  font-size: 1.1rem;
}


/* PINNED ACTIONS */
.pinned-actions {
  display: flex;
  gap: 5px;
  padding: 8px 14px;
  border-bottom: 1px solid var(--light-grey-dark);
}

.custom-actions {
  display: flex;
  gap: 5px;
  overflow-x: auto;
}

.pinned-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: max-content;
}

.pinned-action.selected .emoji-wrapper {
  font-size: 1.5rem;
  background-color: var(--base-aqua);
}

.pinned-action.removed {
  animation: fadeOut .2s forwards;
  animation-delay: .2s;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.emoji-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--aqua-dark);
  border-radius: 50%;
  transition: font-size .2s, background-color .2s;
}

.emoji-wrapper.big {
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
}

.action-label {
  font-size: 0.9rem;
  color: var(--text-dark);
}

.expand-action {
  position: absolute;
  top: 151px;
  right: 0;
  min-width: 100vw;
  max-height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  background-color: var(--base-aqua);
  transition: max-height .3s ease;
  pointer-events: none;
  z-index: 900;
}

.expand-action.visible {
  max-height: 250px;
  transition: max-height .3s;
  pointer-events: all;
}

.expand-action__wrapper {
  padding: 15px 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  font-size: 1.1rem;
}

.light-button {
  padding: 6px 18px;
  background-color: var(--aqua-light);
  border-radius: 50px;
}

.expand-action__wrapper input {
  flex-basis: 80%;
  border: 1px solid var(--text-dark);
  border-radius: 4px;
  padding: 8px;
}

.log-field {
  position: relative;
  margin-top: 10px;
  width: 80%;
}

.log-field input {
  padding-top: 12px;
  width: 100%;
}

.log-field span {
  position: absolute;
  top: -1ch;
  left: 1ch;
  font-size: 1rem;
  background-color: var(--base-aqua);
}

.log-result span {
  color: var(--aqua-light);
}

.log-result input {
  border: 1px solid var(--aqua-light);
  color: var(--aqua-light);
}

.log-result input:focus {
  outline: 1px solid var(--highlight-orange);
  border-color: var(--highlight-orange);
}

.new-action {
  position: absolute;
  right: 14px;
  padding-left: 14px;
  border-left: 2px solid var(--light-grey-dark);
  background-color: var(--light-grey);
  z-index: 10;
}

.pin-action {
  background-color: var(--base-aqua);
}

.cross {
  position: relative;
  height: 22px;
  width: 3px;
  background-color: var(--white);
  border-radius: 50px;
}
.cross::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 22px;
  width: 3px;
  background-color: var(--white);
  border-radius: 50px;
  transform-origin: center;
  transform: rotate(90deg);
}


.expand-create-action__wrapper {
  position: absolute;
  top: 65px;
  right: -14px;
  width: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  pointer-events: none;
  background-color: var(--base-aqua);
  transition: width .3s;
}

.expand-create-action__wrapper.selected {
  max-width: 100vw;
  width: 100vw;
  pointer-events: all;
}

.expand-create-action {
  width: 100%;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 1.1rem;
}

.fieldset {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.fieldset p {
  text-wrap: nowrap;
}
.fieldset input {
  max-width: 100px;
  text-align: right;
  padding: 4px 8px;
  color: var(--aqua-light);
}

.expand-create-action__buttons {
  display: flex;
  gap: 8px;
}

/* LOG HISTORY */
.logs-wrapper {
  margin: 10px;
  border-radius: 10px;
  background-color: var(--white);
  box-shadow: 0 0 5px var(--base-aqua);
  max-height: 34vh;
  overflow: auto;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.logs-wrapper h2 {
  flex-basis: 100%;
  font-size: 1.1rem;
  font-weight: 6000;
  color: var(--base-dark);
}

.logs {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.log {
  display: flex;
  align-items: center;
  gap: 10px;
}

.emoji-wrapper.small {
  height: 28px;
  width: 28px;
  font-weight: 0.9rem;
}

.log-content {
  display: flex;
  align-items: flex-end;
  gap: 3px;
}

.log-content p {
  display: flex;
  align-items: baseline;
}

.log-content__secondary {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--text-dark);
}

/* STATISTICS */
/* Main page button */
.go-to-statistics {
  padding: 8px 24px;
  background-color: var(--base-aqua);
  border-radius: 50px;
  font-weight: 500;
  font-size: 1.2rem;
  width: calc(100% - 20px);
  margin-inline: auto;
}